<table class='table table-bordered table-centered mb-0 text-light shared-table'>
  <thead>
    <% headers.each do |key|%>
      <th><%= key %></th>
    <% end %>
  </thead>
    <tbody>
      <% rows.each do |row| %>
          <tr>
        <% row.attributes.each do |_k,v| %>   
          <td>
            <p><%= v %></p>
          </td>
        <% end %>
          </tr>
      <% end %>
  </tbody>
</table>