<div>
  <%= link_to '+ New', new_campaign_player_character_path(@campaign) %>
</div>
<div class='single-card'>
    <%= render partial: 'shared/table', locals: {headers: @campaign.player_characters.klass.columns_hash.keys, rows: @campaign.player_characters} %>
</div>