<section class='Campaigns m-2'>
  <div class='page-header-center'>
    <h1>Your Campaigns</h1>
  </div>
  <div class="page-header-end campaign-subheader">
    <%= link_to '+ Add new', new_campaign_path, class: 'btn btn-primary' %>
  </div>
  <div id="campaigns_list" class="campaign-card-row">
    <%= render @campaigns %>
  </div>

  <%= render "shared/pagination" %>
</section>