.single-card {
  border: white;
  border-color: white;
  border-width: 2px;
  width: 90%;
  padding: 5px;
}

.double-card {
  border: white;
  border-color: white;
  border-width: 2px;
  width: 45%;
}