.PlayerCharacterForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-container {
    width: 30%;

    .stat-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
.PlayerCharacter {
  overflow-x: scroll;
  
  .character-sheet-frame {
    width: 100%;
    height: 750px;
  }
  .info {
    display: flex;
    justify-content: space-around;
  }
}