<div class="navbar-custom">
  <div class='container-fluid'>
    <ul class="list-unstyled topnav-menu float-right mb-0">
        <li class="">
          <%= link_to campaigns_path, class: "nav-link" do %>
            My Campaigns
          <% end %>
        </li>
    </ul>
  </div>
</div>